<ion-view ng-click="addboxhid()">
  <div class="bar bar-header transBar">
        <button class="button icon ion-close-round pull-right BtnMenu BtnMenuTopR{{ifClick?1:''}}" ng-click="toggle($event)"></button>
        <button class="button icon ion-android-home BtnMenu BtnMenuTopL"><a href="index.html"></a></button>
    </div>
    <div class="addmorebox" ng-show="myVar">
    	<a class="button icon-right ion-images button-clear button-stable">选取图片</a>
    	<a class="button icon-right ion-link button-clear button-stable">添加链接</a>
    	<a class="button icon-right ion-mic-a button-clear button-stable">添加声音</a>
		
    </div>

    <ion-content class='overHid'>
        <div class="cirlebox" id="rotatebox">
            <div class="cirleline">
                <div>
					<a ui-sref='addnote'>
                        <button class="button button-calm btnA" >
                           <span>{{paNotes[0].title}}</span>
                        </button>
                    </a>
                </div>
            </div>
            <ul>
                <li ng-repeat="x in pbNotes track by $index" class={{x.class}} style="left:{{x.left}};top:{{x.top}}">
                    <a ng-click="addClick(x.class,$index)">
                        <button class="button btnB" style="background-color:{{x.bgcolor}}"  on-hold="onHold(x.class,x.bgcolor,x.title,x.left,x.top,$index,$event)">
                           <span>{{x.title}}</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
    <div class="bar bar-footer transBar">
      <button class="button pull-right BtnMenu BtnMenuBotR" ng-click="show()"><i class="icon ion-navicon-round"></i></button>
    </div>
    <div class="holded-box" ng-show="holdedVar">
        <button id="delBtn" class="button holded-btn holded-btn-bot" ></button>
        <button id="copyBtn" class="button holded-btn holded-btn-top" ></button>
        <button id="btnHolded" class="createdbtn"></button>
    </div>

</ion-view>

