<ion-view view-title="我的思维导图">
	<div class="bar bar-header bar-light">
        <h1 class="title">我的思维导图</h1>
    </div>
    <ion-content>
        <div class="content has-header">
            <ul class="padding">
                <li class="padding">
                    <a ui-sref="addnote({'type':0})">
                        <button class="button button-assertive btnA"">
                           <i class="icon ion-plus-round"></i>
                        </button>
                    </a>  
                </li>
                <li class="row padding" ng-repeat='x in paNotes track by $index'>
                    <div class="col-33">
                        <a  ui-sref="new({'noteId':$index})">
                            <button class="button btnA" style="background-color:{{x.color}}">
                               <span>{{x.title}}</span>
                            </button>
                        </a> 
                    </div>
                    <div class="col padding-right padding-top infoBoxA">
                        <div>
                            <div class="divRight">
                                <strong>创建日期</strong>
                                <p><span class="bigNum">{{x.createTime!=''?x.createTime:ctime}}</span></p>
                            </div>
                            <div>
                                <strong>最后修改</strong>
                                <p><span class="bigNum">{{x.createTime!=''?x.lastTime:ltime}}</span></p>
                            </div>
                        </div>
                        <div>
                            <strong>元素</strong>
                            <span class="bigNum">{{x.children.length/2}}</span>
                            <div class="indicateBarBox">
                                <div class="indicateBar" style="width:{{x.children.length/30*136}}px"></div>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
            
        </div>

    </ion-content>
    <div class="bar bar-footer transBar">
      <button class="button pull-right BtnMenu BtnMenuBotR" ng-click="show()"><i class="icon ion-navicon-round"></i></button>
    </div>
</ion-view>
