<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>mindly</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="wxd.css">
    <script src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript">
    angular.module('ionicApp', ['ionic'])

    .controller( 'actionsheetCtl',['$scope','$ionicPopup','$ionicModal','$ionicActionSheet','$timeout',function($scope,$ionicPopup,$ionicModal,$ionicActionSheet,$timeout,$event){
        // 按钮切换布尔值
    	$scope.ifClick = false;

        window.onload=function(){
            //$scope.pub();
        }
        // 上拉菜单
        $scope.show = function() {
            var hideSheet = $ionicActionSheet.show({
                buttons: [
                    { text: '主页',className:"button icon-left ion-home" },
                    { text: '思维导图',className:"button icon-left ion-merge btnsi" },
                    { text: '打印',className:"button icon-left ion-ios-printer" },
                    { text: '分享',className:"button icon-left ion-share" }
                ],
                // destructiveText: 'Delete',
                // titleText: 'Modify your album',
                // cancelText: 'Cancel',
                cancel: function() {
                       // add cancel code..
                    },
                buttonClicked: function(index) {
                return true;
                }
            });

            // $timeout(function() {
            //     hideSheet();
            // }, 2000);
        };

        // 模态编辑窗口
        $ionicModal.fromTemplateUrl('templates/modal.html', {
            scope: $scope
        }).then(function(modal) {
            $scope.modal = modal;
            $scope.pub();
        });
        $ionicModal.fromTemplateUrl('templates/colorBoxModal.html', {
            scope: $scope
        }).then(function(modal) {
            $scope.colorBoxModal = modal;
        });
        
        // 圆形定位函数
        $scope.degOrigin = 0;


        $scope.oRoBox=document.getElementById('rotatebox');
        $scope.oCirleLine=$scope.oRoBox.getElementsByTagName('div')[0];
        $scope.oTitleBtn=$scope.oCirleLine.getElementsByTagName('button')[0];
        $scope.r=120;
        $scope.cX=0;
        $scope.cY=0;

        

        $scope.pageBNotes=[
        {'title':'周一','click':'','class':'','top':'','left':'','bgcolor':'#f95959'},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周二','click':'','class':'','top':'','left':'','bgcolor':'#555'},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周三','click':'','class':'','top':'','left':'','bgcolor':'#455d7a'},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周四','click':'','class':'','top':'','left':'','bgcolor':'#644534'},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周五','click':'','class':'','top':'','left':'','bgcolor':'#e45334'},
        {'title':'','click':'','class':'','top':'','left':''}
        
        ];
        
        
        $scope.pub=function(){
            if($scope.pageBNotes.length>14){
                $scope.oCirleLine.style.top='75%';
                $scope.oCirleLine.style.left='100%';
                $scope.r=270;
                $scope.oCirleLine.style.width=$scope.r*2+'px';
                $scope.oCirleLine.style.height=$scope.r*2+'px';
                $scope.oCirleLine.style.marginLeft=-$scope.r+'px';
                $scope.oCirleLine.style.marginTop=-$scope.r+'px';
                $scope.oTitleBtn.style.marginLeft='-70px';
                
            }
            $scope.cX=$scope.oCirleLine.offsetLeft+$scope.r;
            $scope.cY=$scope.oCirleLine.offsetTop+$scope.r;

            for(var i=0;i<$scope.pageBNotes.length;i++){
                if(i%2==0){
                    $scope.pageBNotes[i].class='btnbli';
                }else{
                    $scope.pageBNotes[i].title='+';
                    $scope.pageBNotes[i].click="modal.show(" + i +")";
                    $scope.pageBNotes[i].class='addli';
                }
              
                $scope.pageBNotes[i].left=$scope.cX+ Math.sin(2*Math.PI/ 360*(360/$scope.pageBNotes.length*i+$scope.degOrigin)) *$scope.r+'px';

                $scope.pageBNotes[i].top=$scope.cY+ Math.cos(2*Math.PI/ 360*(360/$scope.pageBNotes.length*i+$scope.degOrigin)) *$scope.r+'px';
            }
        }
        
        $scope.newNote={};
        $scope.newNote.title='';
        $scope.isNew = 0;
        $scope.createNote = function(u) { 
            
            $scope.pageBNotes.splice($scope.isNew + 1,0,{ 'title': u.title,'click':'','class':'','top':'','left':'','bgcolor':$scope.setedColor});
            $scope.pageBNotes.splice($scope.isNew + 2,0,{ 'title':'','click':'','class':'','top':'','left':''});
            $scope.modal.hide();
            $scope.pub();
        };

        $scope.addClick = function(opt, val) {
             if (opt=='addli') {
               $scope.isNew = val;
               $scope.modal.show();
             }   
        }
         
        // 按钮切换函数
	    $scope.myVar = false;
	    $scope.toggle = function($event) {
	    	$scope.ifClick = !$scope.ifClick;
	        $scope.myVar = !$scope.myVar;
	        $event.stopPropagation(); //阻止事件冒泡
	        
	    };
        //点击窗口其他区域时右上角按钮切换
	    $scope.addboxhid=function(){
	    	if($scope.myVar){
	    		$scope.ifClick = !$scope.ifClick;
	    	}
	    	$scope.myVar=false;
	    }

        
        //为运动函数添加全局变量
        var oX=0;
        var oY=0;
        var disX=0;
        var disY=0;
        var tarDeg=0;
        var timer=null;
        var jz=0;
        //定时器内的运动函数
        function tmove(){
            var speed=(tarDeg-$scope.degOrigin)/10;
            if(Math.round($scope.degOrigin)==Math.round(tarDeg)){
                clearInterval(timer);
            }else{
                $scope.degOrigin+=speed;
                $scope.pub();
                $scope.$apply();
            }
        }
        //touchmove函数
        function mMove(event){
            if(jz==0){
               event.preventDefault(); 
            }
            var touchMove=event.changedTouches[0];
            var dX=touchMove.clientX-oX;
            var dY=touchMove.clientY-oY;
            if(oX<$scope.cX &&Math.abs(dX)<Math.abs(dY)){
                $scope.degOrigin+=dY * 0.5 /Math.abs(dY);
                
                
            }else if(oX>$scope.cX &&Math.abs(dX)<Math.abs(dY)){
                $scope.degOrigin-=dY * 0.5 /Math.abs(dY);
                
            }else if(oY<$scope.cY &&Math.abs(dX)>Math.abs(dY)){
                $scope.degOrigin-=dX * 0.5 /Math.abs(dX);
                
            }else if(oY>$scope.cY &&Math.abs(dX)>Math.abs(dY)){
                $scope.degOrigin+=dX * 0.5 /Math.abs(dX);
                
            }
            $scope.pub();
            $scope.$apply();
        }

        var startTime=0;
        $scope.oRoBox.addEventListener("touchstart",function(event){
            if(jz==0){
               event.preventDefault(); 
            }
            clearInterval(timer);
            var touch=event.targetTouches[0];
            startTime=event.timeStamp;
            oX=touch.clientX;
            oY=touch.clientY;

            $scope.oRoBox.addEventListener("touchmove",mMove);

        })

        $scope.oRoBox.addEventListener("touchend",function(event){
            clearInterval(timer);
            var touchEnd=event.changedTouches[0];
            var touchTime=event.timeStamp;
            disX=touchEnd.clientX-oX;
            disY=touchEnd.clientY-oY;
            if(touchTime-startTime<1000){
               if(oX<$scope.cX &&Math.abs(disX)<Math.abs(disY)){
                    tarDeg=$scope.degOrigin+disY;
                    timer=setInterval(tmove,30);
                    
                }else if(oX>$scope.cX &&Math.abs(disX)<Math.abs(disY)){
                    tarDeg=$scope.degOrigin-disY;
                    timer=setInterval(tmove,30);
                }else if(oY<$scope.cY &&Math.abs(disX)>Math.abs(disY)){
                    tarDeg=$scope.degOrigin-disX;
                    timer=setInterval(tmove,30);
                }else if(oY>$scope.cY &&Math.abs(disX)>Math.abs(disY)){
                    tarDeg=$scope.degOrigin+disX;
                    timer=setInterval(tmove,30);
                } 
            }

        })

        var oDelBtn=document.getElementById('delBtn');
        var oCopyBtn=document.getElementById('copyBtn');
        var delbX=oDelBtn.offsetLeft;
        var delbY=oDelBtn.offsetTop;
        var copybX=oCopyBtn.offsetLeft;
        var copybY=oCopyBtn.offsetTop;

        $scope.holdedVar=false;
        // $scope.holdToggle=function(){
        //     $scope.holdedVar=!$scope.holdedVar;
        // }
        $scope.bL='';
        $scope.bT='';
        $scope.delConfirm=function(){
            var delPopup=$ionicPopup.show({
                scope: $scope,
                cssClass:'team-popup',
                buttons:[
                    {
                        text:'删除',
                        className:"button button-clear BtnMenu btnClose",
                        onTap:function(e){
                            delPopup.close();
                        }
                    }
                ]
            })
            delPopup.then(function(res){
                
                    delPopup.close();
                    console.log(111111);
                

            })

        }


        $scope.onHold = function (cas,bgcol,tit,bl,bt,e){
            $scope.bL=bl;
            $scope.bT=bt;
            if(cas=='btnbli'){
                $scope.holdedVar=true;
                $scope.oRoBox.removeEventListener("touchmove",mMove);
                var oBtnHolded=document.getElementById('btnHolded');
                oBtnHolded.style.backgroundColor = bgcol;
                oBtnHolded.style.transform = 'scale(0.6,0.6)';
                
                oBtnHolded.innerHTML = tit;
                var touchHold=e.gesture.touches[0];
                var tX=touchHold.clientX;
                var tY=touchHold.clientY;
                oBtnHolded.style.top=tY+'px';
                oBtnHolded.style.left=tX+'px';
                function btnHoldMove(event){
                    var btnMove=event.changedTouches[0];
                    var btnX=btnMove.clientX;
                    var btnY=btnMove.clientY;
                    oBtnHolded.style.top=btnY+'px';
                    oBtnHolded.style.left=btnX+'px';
                    if(Math.abs(oBtnHolded.offsetTop-delbY)<25 && Math.abs(oBtnHolded.offsetLeft-delbX)<25){
                        //oBtnHolded.style.transitionProperty= 'top,left,transform';
                        oBtnHolded.style.transform='scale(0.3,0.3)';
                        
                        oBtnHolded.style.top = delbY + 21 +'px';
                        oBtnHolded.style.left = delbX + 21 +'px';
    
                    }else if(Math.abs(oBtnHolded.offsetTop-copybY)<25 && Math.abs(oBtnHolded.offsetLeft-copybX)<25){
                        oBtnHolded.style.top= copybY + 21 +'px';
                        oBtnHolded.style.left= copybX + 21 +'px';
                    }else{
                        //oBtnHolded.style.transitionProperty= 'transform';
                        oBtnHolded.style.transform='scale(0.6,0.6)';
                    }
                    

                }
                document.addEventListener('touchmove',btnHoldMove);

                document.addEventListener('touchend',function(evevt){ 
                    if(Math.abs(oBtnHolded.offsetTop-delbY)<25 && Math.abs(oBtnHolded.offsetLeft-delbX)<25){
                        //oBtnHolded.style.transitionProperty= 'top,left,transform';
                        oBtnHolded.style.transform='scale(0.3,0.3)';
                        
                        oBtnHolded.style.top = delbY + 21 +'px';
                        oBtnHolded.style.left = delbX + 21 +'px';
                        $scope.delConfirm();
    
                    }else if(Math.abs(oBtnHolded.offsetTop-copybY)<25 && Math.abs(oBtnHolded.offsetLeft-copybX)<25){
                        oBtnHolded.style.top= copybY + 21 +'px';
                        oBtnHolded.style.left= copybX + 21 +'px';
                    }else{
                        //oBtnHolded.style.transitionProperty= 'transform';
                        oBtnHolded.style.transform='scale(0.6,0.6)';
                        oBtnHolded.style.top=$scope.bT;
                        oBtnHolded.style.left=$scope.bL;
                        $scope.holdedVar=false;
                        $scope.$apply();
                    }      
                        
                })
            }
            
        }



        $scope.colers=['#f95959','#a1afc9','#425066','#5c9291','#478384','#888e7e','#47585c','#494a41','#6b6f59','#6c848d','#5b7e91','#a69abd','#956f29','#9d896c','#393e4f','#203744','#9e9478','#594255','#a25768','#8f8667','#918754','#84b9cb','#98623c','#698aab','#c8c2be','#83ccd2','#b3ada0','#8c8861','#c53d43','#e95464','#95483f','#0094c8','#c5c56a','#783c1d','#765c47','#6f514c','#9e3d3f','#9ba88d','#769164','#808080','#88ada6','#a78e44','#725e82','#549688','#424c50','#7c4b00','#a88462','#425066','#21a675']

        $scope.oColorRow=document.getElementsByClassName('colorbox-raw')[0];

        $scope.aColorCol=document.getElementsByClassName('color-btn');

        $scope.setedColor='';
        $scope.setColor=function(bco){
            this.coval=bco;
            for(var i=0;i<$scope.aColorCol.length;i++){
                $scope.aColorCol[i].style.borderColor='white';
            }

            this.coval=bco;
            $scope.showColor=bco;
        }
        $scope.outputColor=function(setCol){
            $scope.setedColor=setCol;
            $scope.colorBoxModal.hide();
        }

        
    }])

    
    </script>
    <style>
    
    </style>
</head>
<body ng-controller="actionsheetCtl" ng-click='addboxhid()'>
    <div class="bar bar-header transBar">
        <button class="button icon ion-close-round pull-right BtnMenu BtnMenuTopR{{ifClick?1:''}}" ng-click="toggle($event)"></button>
        <button class="button icon ion-android-home BtnMenu BtnMenuTopL"><a href="index.html"></a></button>
    </div>
    <div class="addmorebox" ng-show="myVar">
    	<a class="button icon-right ion-images button-clear button-stable">选取图片</a>
    	<a class="button icon-right ion-link button-clear button-stable">添加链接</a>
    	<a class="button icon-right ion-mic-a button-clear button-stable">添加声音</a>
		
    </div>

    <ion-content class='overHid'>
        <div class="cirlebox" id="rotatebox">
            <div class="cirleline">
                <div>
					<a href='#'>
                        <button class="button button-calm btnA" >
                           <span>周日</span>
                        </button>
                    </a>
                </div>
            </div>
            <ul>
                <li ng-repeat="x in pageBNotes track by $index" class={{x.class}} style="left:{{x.left}};top:{{x.top}}">
                    <a href='#'>
                        <button class="button btnB" style="background-color:{{x.bgcolor}}" ng-click="addClick(x.class,$index)" on-hold="onHold(x.class,x.bgcolor,x.title,x.left,x.top,$event)">
                           <span>{{x.title}}</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
    <div class="bar bar-footer transBar">
      <button class="button pull-right BtnMenu BtnMenuBotR" ng-click="show()"><i class="icon ion-navicon-round"></i></button>
    </div>
    <div class="holded-box" ng-show="holdedVar">
        <button id="delBtn" class="button holded-btn holded-btn-bot" ></button>
        <button id="copyBtn" class="button holded-btn holded-btn-top" ></button>
        <button id="btnHolded" class="createdbtn"></button>
    </div>



    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header transBar">
          <h1 class="title padding-top padding-left">新笔记</h1>
          <button class="button icon ion-close-round pull-right btnClose" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list newNotePage">
            <label class="item item-input">
              <span class="input-label">标题</span>
              <input ng-model="newNote.title" type="text">
            </label>
            <label class="item item-input">
              <textarea cols="30" rows="26"></textarea>
            </label>
            <div class="bar bar-footer transBar transbar-bot">
              <a class="button button-icon icon ion-android-happy btnMoalBot" ></a>
              <a class="button button-icon icon ion-images btnMoalBot"></a>
              <a class="button button-icon icon ion-mic-a btnMoalBot" ></a>
              <a class="button button-icon icon ion-android-color-palette btnMoalBot" ng-click="colorBoxModal.show()"></a>
              

              <button class="button icon ion-checkmark-round pull-right BtnMenuR" ng-click="createNote(newNote)"></button>
            </div>
            
            
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/colorBoxModal.html" type="text/ng-template">
        <ion-modal-view class='padding'>
            <ion-header-bar class="bar bar-header transBar">
              <h1 class="title title-center">选择颜色</h1>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list padding color-chose-box">
                    <div class="color-show">
                        <button class="button" style="background-color:{{showColor}}">{{newNote.title}}</button>
                    </div>
                    <div class="colorbox-raw">
                        <div class="colors-col" ng-repeat="co in colers track by $index">
                            <a href="#" class="color-btn" style="border-color:{{coval}}" ng-click="setColor(co,$event)"><span style="background-color:{{co}}"></span></a>
                        </div>
                    </div>
                    <div class="bar bar-footer transBar transbar-bot">
                      <button class="button icon ion-checkmark-round pull-right BtnMenuR" ng-click="outputColor(showColor)"></button>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>  
    </script>

    </body>
</html>