<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>mindly</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="wxd.css">
    <script src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript">
    angular.module('ionicApp', ['ionic'])

    .controller( 'actionsheetCtl',['$scope','$ionicModal','$ionicActionSheet','$timeout',function($scope,$ionicModal,$ionicActionSheet,$timeout,$event){
        // 按钮切换布尔值
    	$scope.ifClick = false;

        window.onload=function(){
            //$scope.pub();
        }
        // 上拉菜单
        $scope.show = function() {
            var hideSheet = $ionicActionSheet.show({
                buttons: [
                    { text: '主页',className:"button icon-left ion-home" },
                    { text: '思维导图',className:"button icon-left ion-merge btnsi" },
                    { text: '打印',className:"button icon-left ion-ios-printer" },
                    { text: '分享',className:"button icon-left ion-share" }
                ],
                // destructiveText: 'Delete',
                // titleText: 'Modify your album',
                // cancelText: 'Cancel',
                cancel: function() {
                       // add cancel code..
                    },
                buttonClicked: function(index) {
                return true;
                }
            });

            // $timeout(function() {
            //     hideSheet();
            // }, 2000);
        };

        // 模态编辑窗口
        $ionicModal.fromTemplateUrl('templates/modal.html', {
            scope: $scope
        }).then(function(modal) {
            $scope.modal = modal;
            $scope.pub();
        });
        
        // 圆形定位函数
        $scope.degOrigin = 0;


        $scope.oRoBox=document.getElementById('rotatebox');
        $scope.oCirleLine=$scope.oRoBox.getElementsByTagName('div')[0];
        $scope.oTitleBtn=$scope.oCirleLine.getElementsByTagName('button')[0];
        $scope.r=120;
        $scope.cX=0;
        $scope.cY=0;

        

        $scope.pageBNotes=[
        {'title':'周一','click':'','class':'','top':'','left':''},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周二','click':'','class':'','top':'','left':''},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周三','click':'','class':'','top':'','left':''},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周四','click':'','class':'','top':'','left':''},
        {'title':'','click':'','class':'','top':'','left':''},
        {'title':'周五','click':'','class':'','top':'','left':''},
        {'title':'','click':'','class':'','top':'','left':''}
        
        ];
        
        
        $scope.pub=function(){
            if($scope.pageBNotes.length>14){
                $scope.oCirleLine.style.top='75%';
                $scope.oCirleLine.style.left='100%';
                $scope.r=270;
                $scope.oCirleLine.style.width=$scope.r*2+'px';
                $scope.oCirleLine.style.height=$scope.r*2+'px';
                $scope.oCirleLine.style.marginLeft=-$scope.r+'px';
                $scope.oCirleLine.style.marginTop=-$scope.r+'px';
                $scope.oTitleBtn.style.marginLeft='-70px';
                
            }
            $scope.cX=$scope.oCirleLine.offsetLeft+$scope.r;
            $scope.cY=$scope.oCirleLine.offsetTop+$scope.r;

            for(var i=0;i<$scope.pageBNotes.length;i++){
                if(i%2==0){
                    $scope.pageBNotes[i].class='btnbli';
                }else{
                    $scope.pageBNotes[i].title='+';
                    $scope.pageBNotes[i].click="modal.show(" + i +")";
                    $scope.pageBNotes[i].class='addli';
                }
              
                $scope.pageBNotes[i].left=$scope.cX+ Math.sin(2*Math.PI/ 360*(360/$scope.pageBNotes.length*i+$scope.degOrigin)) *$scope.r+'px';

                $scope.pageBNotes[i].top=$scope.cY+ Math.cos(2*Math.PI/ 360*(360/$scope.pageBNotes.length*i+$scope.degOrigin)) *$scope.r+'px';
            }
        }
        
        $scope.newNote={};
        $scope.newNote.title='';
        $scope.isNew = 0;
        $scope.createNote = function(u) { 
            
            $scope.pageBNotes.splice($scope.isNew + 1,0,{ 'title': u.title,'click':'','class':'','top':'','left':''});
            $scope.pageBNotes.splice($scope.isNew + 2,0,{ 'title':'','click':'','class':'','top':'','left':''});
            $scope.modal.hide();
            $scope.pub();
        };

        $scope.addClick = function(opt, val) {
             if (opt.indexOf('+') > -1) {
               $scope.isNew = val;
               $scope.modal.show();
             }     
        }
         
        // 按钮切换函数
	    $scope.myVar = false;
	    $scope.toggle = function($event) {
	    	$scope.ifClick = !$scope.ifClick;
	        $scope.myVar = !$scope.myVar;
	        $event.stopPropagation(); //阻止事件冒泡
	        
	    };
        //点击窗口其他区域时右上角按钮切换
	    $scope.addboxhid=function(){
	    	if($scope.myVar){
	    		$scope.ifClick = !$scope.ifClick;
	    	}
	    	$scope.myVar=false;
	    }

        
        //为运动函数添加全局变量
        var oX=0;
        var oY=0;
        var disX=0;
        var disY=0;
        var tarDeg=0;
        var timer=null;
        var jz=0;
        //定时器内的运动函数
        function tmove(){
            var speed=(tarDeg-$scope.degOrigin)/10;
            if(Math.round($scope.degOrigin)==Math.round(tarDeg)){
                clearInterval(timer);
            }else{
                $scope.degOrigin+=speed;
                $scope.pub();
                $scope.$apply();
            }
        }
        //touchmove函数
        function mMove(event){
            if(jz==0){
               event.preventDefault(); 
            }
            var touchMove=event.changedTouches[0];
            var dX=touchMove.clientX-oX;
            var dY=touchMove.clientY-oY;
            if(oX<$scope.cX &&Math.abs(dX)<Math.abs(dY)){
                $scope.degOrigin+=dY * 0.5 /Math.abs(dY);
                
                
            }else if(oX>$scope.cX &&Math.abs(dX)<Math.abs(dY)){
                $scope.degOrigin-=dY * 0.5 /Math.abs(dY);
                
            }else if(oY<$scope.cY &&Math.abs(dX)>Math.abs(dY)){
                $scope.degOrigin-=dX * 0.5 /Math.abs(dX);
                
            }else if(oY>$scope.cY &&Math.abs(dX)>Math.abs(dY)){
                $scope.degOrigin+=dX * 0.5 /Math.abs(dX);
                
            }
            $scope.pub();
            $scope.$apply();
        }

        var startTime=0;
        document.addEventListener("touchstart",function(event){
            if(jz==0){
               event.preventDefault(); 
            }
            clearInterval(timer);
            var touch=event.targetTouches[0];
            startTime=event.timeStamp;
            oX=touch.clientX;
            oY=touch.clientY;

            document.addEventListener("touchmove",mMove);

        })

        document.addEventListener("touchend",function(event){
            clearInterval(timer);
            var touchEnd=event.changedTouches[0];
            var touchTime=event.timeStamp;
            disX=touchEnd.clientX-oX;
            disY=touchEnd.clientY-oY;
            if(touchTime-startTime<1000){
               if(oX<$scope.cX &&Math.abs(disX)<Math.abs(disY)){
                    tarDeg=$scope.degOrigin+disY;
                    timer=setInterval(tmove,30);
                    
                }else if(oX>$scope.cX &&Math.abs(disX)<Math.abs(disY)){
                    tarDeg=$scope.degOrigin-disY;
                    timer=setInterval(tmove,30);
                }else if(oY<$scope.cY &&Math.abs(disX)>Math.abs(disY)){
                    tarDeg=$scope.degOrigin-disX;
                    timer=setInterval(tmove,30);
                }else if(oY>$scope.cY &&Math.abs(disX)>Math.abs(disY)){
                    tarDeg=$scope.degOrigin+disX;
                    timer=setInterval(tmove,30);
                } 
            }

        })

        
    }])

    
    </script>
    <style>
    
    </style>
</head>
<body ng-controller="actionsheetCtl" ng-click='addboxhid()'>
    <div class="bar bar-header transBar">
        <button class="button icon ion-close-round pull-right BtnMenu BtnMenuTopR{{ifClick?1:''}}" ng-click="toggle($event)"></button>
        <button class="button icon ion-android-home BtnMenu BtnMenuTopL"><a href="index.html"></a></button>
    </div>
    <div class="addmorebox" ng-show="myVar">
    	<a class="button icon-right ion-image button-clear button-stable">选取图片</a>
    	<a class="button icon-right ion-link button-clear button-stable">添加链接</a>
    	<a class="button icon-right ion-mic-a button-clear button-stable">添加声音</a>
		
    </div>

    <ion-content class='overHid'>
        <div class="cirlebox" id="rotatebox">
            <div class="cirleline">
                <div>
					<a href='#'>
                        <button class="button button-calm btnA" >
                           <span>周日</span>
                        </button>
                    </a>
                </div>
            </div>
            <ul>
                <li ng-repeat="x in pageBNotes" class={{x.class}} style="left:{{x.left}};top:{{x.top}}">
                    <a href='#'>
                        <button class="button button-calm btnB" ng-click="addClick(x.title,$index)">
                           <span>{{x.title}}</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
    <div class="bar bar-footer transBar">
      <button class="button pull-right BtnMenu BtnMenuBotR" ng-click="show()"><i class="icon ion-navicon-round"></i></button>
    </div>



    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header transBar">
          <h1 class="title padding-top padding-left">新笔记</h1>
          <button class="button icon ion-close-round pull-right btnClose" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list newNotePage">
            <label class="item item-input">
              <span class="input-label">标题</span>
              <input ng-model="newNote.title" type="text">
            </label>
            <label class="item item-input">
              <textarea cols="30" rows="26"></textarea>
            </label>
            <div class="bar bar-footer transBar">
              
              <button class="button icon ion-android-color-palette BtnMenu btnMoalBot" ></button>
              <button class="button icon ion-image BtnMenu btnMoalBot" ></button>
              <button class="button icon ion-mic-a BtnMenu btnMoalBot" ></button>
              <button class="button icon ion-happy BtnMenu btnMoalBot" ></button>

              <button class="button icon ion-checkmark-round pull-right BtnMenuR" ng-click="createNote(newNote)"></button>
            </div>
            
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <script>

    </script>

    </body>
</html>