/* Empty. Add your own CSS if you like */
.btnA{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.btnA span{
	line-height: 110%;
	font-size: 14px;
}
.divRight{
	float: right;
}

.scroll-bar{
	display: none !important;
}
.scroll-bar-v{
	display: none !important;
	width:0 !important;
}
.indicateBarBox{
	width: 70%;
	height: 4px;
	border-radius: 2px;
	background: #eee;
}
.indicateBar{
	width: 20%;
	height: 4px;
	border-radius: 2px;
	background: #f95959;
}
.infoBoxA{
	padding-left: 20px;
}
.infoBoxA strong{
	font-size: 8px !important;
	color: #333;
}
.bigNum{
	font-size: 20px;
	color: #aaa;
}
.transBar{
	background: transparent;
	border: none;
}
.BtnMenu{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	box-shadow: 1px 1px 4px #999;
	color: #f95959;	
}
.BtnMenuR{
	width: 36px;
	height: 36px;
	background-color: #f95959;
	border-radius: 50%;
	border: none;
	box-shadow: 1px 1px 4px #999;
	color: white;
}

.bar-footer .BtnMenuBotR{
	right: 20px !important;
	top: -10px !important;
}
.bar-header .BtnMenuTopR{
	right: 20px !important;
	top: 20px !important;
	font-size: 14px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.BtnMenuTopR1{
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	box-shadow: none;	
}

.bar-header .BtnMenuTopL{
	left: 20px !important;
	top: 20px !important;
}
.action-sheet{
	padding:0;
	margin:0;
	background: rgba(255,255,255,0.9);
}
.action-sheet-options{
	background: transparent;
	margin-bottom: 0;
}
.action-sheet .button{
	display: inline-block;
	width: 50%;
	height: 80px;
	border: none;
    color: #666 !important;
    padding-left: 70px;
    text-align: left;

}
.action-sheet .btnsi{
	padding-left: 50px;
}
.action-sheet .button i{
	margin-top: -20px;
}


/*导图第二页*/
.scroll{
	overflow: hidden;
	height: 100%;
}
.cirlebox{
	height: 100%;
}
.cirleline{
	position: absolute;
	transition: all line 0.6s;
	-webkit-transition: all line 0.6s;
	width: 240px;
	height: 240px;
	top: 50%;
	left: 50%;
	margin-left: -120px;
	margin-top: -120px;
	border: 1px solid #ccc;
	border-radius: 50%;

}
.cirleline div{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.btnbli{
	position: absolute;
	margin-top: -40px;
	margin-left: -40px;
}
.btnbli button{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	line-height: 14px;
	padding:0;
	color: white;
}

.btnbli button span{
	font-size: 12px;
}

.addli{
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
}
.addli button{
	min-width: 16px;
    min-height: 16px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	padding:0;
	background-color: #ccc !important;
	color: white;
	line-height: 16px;
	border:none;
}

.addmorebox{
	position: absolute;
	top: 50px;
	right: 8px;
	background: white;
	box-shadow: 1px 1px 4px #999;
	padding:6px;
	border-radius: 6px; 
	z-index: 2;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.addmorebox.ng-hide{
	background-color: transparent;
	right:-130px;
}
.addmorebox a.button{
	display: block;
	height: 10px;
	
}
.newNotePage{
	height: 100%;
}
.btnMoalBot{
	margin-right: 6px;
	color: #bbb;
	font-size: 18px !important;
}
.btnClose{
	color: #f95959;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	margin-top:8px;
	margin-right:6px;
	background: transparent;
}
.transbar-bot{
	background-color: rgba(255,255,255,0.9);
}

.holded-box{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index:10;
}
.holded-btn{
	min-width: 40px;
	min-height: 40px;
	width: 42px;
	height: 42px;
	padding:0;
	position: absolute;
	border-radius: 50%;	
}
.holded-btn-bot{
	background-color: #111;
	box-shadow:0 0 12px white inset;
	border-color: #aaa;
	bottom: 16px;
	right: 16px;
}
.holded-btn-top{
	top:16px;
	right: 16px;
	background-color: #ddd;
	box-shadow:0 0 3px white inset;
}
.createdbtn{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 12px !important;
	color: white;
	border:none;
	z-index: 100;
	margin-left: -30px;
	margin-top: -30px;
	transition-property: transform;
	-webkit-transition-property: transform;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-delay: 0;
    -webkit-transition-delay: 0;
}




.color-chose-box{
	padding-top: 20px;
	height: 100%;
}
.color-show{
	width: 100%;
	padding:40px 0;
	text-align: center;
}
.color-show button{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border:none;
	background: #f95959;
	line-height: 14px;
	color: white;
}
.color-btn{
	display: inline-block !important;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display:block;
	padding:1px;
	background: white;
	border:3px solid white;
}
.color-btn span{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
}
.colors-col{
	width:14.2%;
	padding:10px;
	text-align: center;
	float: left;
}
.border-white{
	border-color: white;
}
.title-center{
	text-align: center !important;
	border-bottom: 1px solid #eee;
	top:10px !important;
}

.team-popup .popup-head{
	display: none;
}
.team-popup .popup{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 0;
}
.team-popup .popup-buttons{	
 	padding: 0;
}
.team-popup .popup-buttons{
	height: 100%;
}
.team-popup .popup-buttons button{
	height: 100% !important;
	background: transparent;
	color: #f95959;
}

